## Topic 1

### Task 1

In [1]:
def even_number(l):
    return [el for el in l if el % 2 == 0]

In [2]:
even_number([1, 2, 3, 4, 5, 6])

[2, 4, 6]

### Task 2

In [3]:
nums = [10, 20, 30, 40, 50]
# reverse using slicing
reverse_using_slicing=nums[::-1]
reverse_using_slicing

[50, 40, 30, 20, 10]

In [4]:
# remove 2nd element
nums.pop(1)
nums

[10, 30, 40, 50]

In [5]:
# insert at index 2
nums.insert(2, 25)
nums

[10, 30, 25, 40, 50]

### TAsk 3

In [6]:
# flatten a list
list1=[[1,2], [3,4], [5,6]]
flatten_list_result = []
def flatten_list(list1):
    for flatten in list1:
        for ftn in flatten:
            flatten_list_result.append(ftn)

flatten_list(list1)
flatten_list_result

[1, 2, 3, 4, 5, 6]

### Task 4

In [7]:
#take input
number=int(input("Enter a number"))
if number==0:
    print("Zero")
elif number>0:
    print("Positiv enumber")
else:
    print("Negative")

Positiv enumber

### Task 5

In [8]:
l1=[1, 2, 3, 4]
l2=[5, 6, 7]
l3=[]
for i in range(len(l1)):
    l3.append(l1[i])

for j in range(len(l2)):
    l3.append(l2[j])
l3

[1, 2, 3, 4, 5, 6, 7]

### TAsk 6

In [9]:
l1=[1, 3, 5,55, 9, 100]
l1_set=set(l1)
l1.sort(reverse=True)
if(len(l1)>=2):
    print(f"The second largest {l1[1]}")
else:
    print("It doens't contain 2 elements")

The second largest 55

# Topic 2 :Tuples & Sets

### Task 1

In [10]:
l1=(1,1,1,1,2,2,2)
l1_set=set(l1)
sum(l1_set)

3

### Task 2

In [11]:
l1=set([1, 2, 3, 4, 5])
l2=set([4, 5, 6, 7])
l1.intersection(l2) #l1 & l2
l1.union(l2) #l1 | l2
l1.difference(l2) #l1-l2

{1, 2, 3}

### Task 3

In [12]:
t = (1, 2, 3, [4, 5], 6)
t[3].append(7)
t
# here tuple is immutable but list which is inside tuple is mutable . so the above operation is possible

(1, 2, 3, [4, 5, 7], 6)

### Task 4

In [13]:
def check_disjoint(l1, l2):
    common_el=len((set(l1) & set(l2)))
    return True if common_el else False

l1=[1,2]
l2=[3, 4,]
check_disjoint(l1, l2)

False

### Task 5

In [14]:
t=("hello", "kxa", "sabthik", "dhayanbadlskslj")
max_len=len(t[0])
word=t[0]
for  x in t:
    if(max_len<len(x)):
        max_len=len(x)
        word=x
max_len, word

(15, 'dhayanbadlskslj')

# Topic 3 :Dictionaries

### Task 1

In [15]:
text = "This is a test. This test is only a test."
text=text.lower().replace(".", "")
cal_dict={}
for x in text.split(" "):
    if x in cal_dict:
        cal_dict[x]+=1
    else:
        cal_dict[x]=1
print(cal_dict)

# let's sort the dictionary
# sorted_dict=dict(sorted(cal_dict.items(), key= lambda x: x[1], reverse=True))
max_word=max(cal_dict, key=cal_dict.get)
max_word

{'this': 2, 'is': 2, 'a': 2, 'test': 3, 'only': 1}

'test'

### Task 2

In [16]:
d1 = {'a': 2, 'b': 3, 'c': 1}
d2 = {'b': 4, 'c': 5, 'd': 6}

def merge_dic(d1, d2):
    result=d1.copy()
    for key, val in d2.items():
        if key in result:
            result[key] += val
        else:
            result[key]=val
    return result

merge_dic(d1, d2)

{'a': 2, 'b': 7, 'c': 6, 'd': 6}

### Task 3

In [17]:
students = {
    'Alice': 89,
    'Bob': 95,
    'Charlie': 78,
    'David': 95,
    'Eve': 88
}

max_marks= max(students.values())
top_students=[ student for student, marks in students.items() if marks==max_marks]
top_students

['Bob', 'David']

### Task 4

In [18]:
my_dict = {
    'name': 'Alice',
    'age': None,
    'grade': 'A',
    'email': None
}

def remove_none(dict):
    return { key: value for key, value in dict.items() if value is not None }

remove_none(my_dict)

{'name': 'Alice', 'grade': 'A'}

### Task 5

In [19]:
students = {
    'Alice': 89,
    'Bob': 95,
    'Charlie': 78,
    'David': 95,
    'Eve': 88
}

soted_dict = dict(sorted(students.items(), key=lambda x: x[1] , reverse=True))
soted_dict

{'Bob': 95, 'David': 95, 'Alice': 89, 'Eve': 88, 'Charlie': 78}

### Task 6

In [20]:
products = {
    'Laptop': 1200,
    'Smartphone': 800,
    'TV': 1500,
    'Headphones': 300,
    'Watch': 450
}

sorted_products=dict(sorted(products.items(), key = lambda x:x[1], reverse=True))
top_3_product=list(sorted_products.keys())[:3]
top_3_product

['TV', 'Laptop', 'Smartphone']

# Topic 4 :String Manipulation & Regular Expressions

### Task 1

In [21]:
import re
input_str = "Hello World, Python is awesome!"
def remove_vowels(text):
    text=re.sub(r"[aeiou]", "", text)
    return text
remove_vowels(input_str)

'Hll Wrld, Pythn s wsm!'

### Task 2

In [22]:
import re

text = """
Contact us at 123-456-7890 or (987) 654-3210.
Emergency: 555.555.5555
Invalid: 123-45-6789, abc-123-4567
Office: 1234567890
"""

pattern = r"(\d{3}[\.-]?\d{3}[\.-]?\d{4})"

valid_numbers = re.findall(pattern, text)

print("Valid phone numbers:")
for number in valid_numbers:
    print(number)

Valid phone numbers:
123-456-7890
555.555.5555
1234567890

### Task 3

In [23]:
input_str = "Hello 123, I have 555 apples, and 1 banana."
res={ str(i): 0 for i in range(10)}
for x in input_str:
    if x in res:
        res[x]+=1
res

{'0': 0,
 '1': 2,
 '2': 1,
 '3': 1,
 '4': 0,
 '5': 3,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0}

In [24]:
# now using regex
input_str = "Hello 123, I have 555 apples, and 1 banana."
numbers=re.findall(r"\d", input_str)
res={ str(i): 0 for i in range(10)}
print(numbers)
for x in numbers:
    res[x]+=1
res

['1', '2', '3', '5', '5', '5', '1']

{'0': 0,
 '1': 2,
 '2': 1,
 '3': 1,
 '4': 0,
 '5': 3,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0}

### Task 4

In [25]:
text = """
Today's date is 12/04/2025. The project started on 01/01/2024 and ended on 31/03/2025.
Invalid dates like 123/45/6789 or 1/1/2020 should not match.
"""

pattern = r"\d{2}\/\d{2}\/\d{2}"
result=re.findall(pattern, text)
result

['12/04/20', '01/01/20', '31/03/20', '23/45/67']

# Topic 5 :File Handling - Read, Write, Append

### Task 1

In [26]:
with open("./data/test.txt") as f:
    content =f.read()
    print(f"Total character{len(content)}")
    print(f"Total words {len(content.split())}")
    print(f"Total lines {len(content.splitlines())}")

Total character53
Total words 10
Total lines 7

### Task 2

In [27]:
with open("./data/test.txt", "r") as f:
    # f.seek(0)
    content = f.read()
    # content=content.replace("Tilak", "Ram")
    print(content)

with open("./data/test.txt", "w") as f:
    content=content.replace("Tilak", "Ram")
    f.write(content)

My name is Ram Kandel
hora??
sachi hora??
la hora

### Task 3

In [28]:
from datetime import datetime
now = datetime.now()
with open("./data/log.txt", "a+") as f:
    f.write(f"""\nRunning code {now.strftime("%Y-%m-%d %H-%M-%S")}""")

# Task 4

In [29]:
# create large file
def create_large_file(filepath, repeat=1024):
    with open(filepath, "w")  as f:
        for _ in range(repeat):
            f.write("This is our large file.")

create_large_file("./data/large_file.txt")

In [30]:
# implement the chunk
def chunk_fetch(filename, chunk_size, keyword):
    buffer=""
    with open(filename, "r") as f:
        while True:
            chunk_data=f.read(chunk_size)
            if not chunk_data:
                break
            buffer+=chunk_data
            lines=buffer.split("\n")

            #let's keep the last line which might be incomplete
            buffer=lines.pop()

            for line in lines:
                if keyword in line:
                    yield line

            


filename="./data/large_file.txt"
for line in chunk_fetch(filename, 1024, "test"):
    print(line)

In [31]:
str="""Chunk 1
True
large file.This is our large"""
print(str)
lines=str.split("\n")
print(lines)
print(str)
str=lines.pop()
print(str)

Chunk 1
True
large file.This is our large
['Chunk 1', 'True', 'large file.This is our large']
Chunk 1
True
large file.This is our large
large file.This is our large

# Topic 6: Python Modules & Importing

### TAsk 1

In [32]:
import math
num=5.55
math.log(num)
math.sqrt(num)
math.fabs(-777.77)
math.sin(num)
math.sinh(num)
math.exp(num)
math.ceil(5.02)
math.isfinite(555)

True

### Task 2

In [39]:
from utilities import prime_checking, factorial, reversal
str="I am checking"
reversal(str)
prime_checking(13)

True

### Task 3

In [48]:
from datetime import datetime, date
now = datetime.now()
now.day
now.hour
now.second
now.minute
next_year=date(now.year, 12, 31)
date_difference=(next_year-now.date()).days
date_difference

263

### Task 4

In [50]:
import random
list=[random.randint(10, 100) for _ in range(10)]
list

[76, 73, 41, 70, 44, 51, 30, 41, 17, 51]

### Task 5

In [54]:
import os
all_files=os.listdir()
# os.path.getsize("data")
file_size={}
for file in all_files:
    file_size[file] = (os.path.getsize("data"))/1024
file_size

{'data': 4.0, 'all_in_one.ipynb': 4.0, '__pycache__': 4.0, 'utilities.py': 4.0}